body{

  font-family: "Lato", sans-serif;
 
}

.container{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    border:3px solid black ;
    padding: 20px;
}

.img-div img{
    width: 400px;
}
